{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated  %}
<div>
    Для того, чтобы добавить объявление нажмите кнопку
    <a class="btn btn-primary " href="/add_ad">добавить</a>
    <br>
</div>
{%endif%}
{% for item in news%}

<div class="col-md6 border rounded">
    {% set a = item.user_id %}
    {% set id = item.id %}
    {% if  (current_user.id==1 or current_user.id==a) and current_user.is_authenticated  %}
    <div>
        <a class="btn btn-primary" href="/delete_ad/{{id}}">Удалить</a>
        <a class="btn btn-success" href="/edit_job">Изменить</a>
    </div>
    {%endif%}

    <h2>{{item.title}}</h2>



    <div>
         {{item.address}}  {{item.description}} __ {{item.number}}
    </div>
</div>
{% endfor %}



{% endblock %}